<% @approvedMatches = Match.where(:approved => true) %>
<% index = rand(0..(@approvedMatches.count - 1)) %>

<% if flash[:notice] %>
	<div class = "flash-message"><%= flash[:notice] %></div>
<% end %>
<% if !signed_in? %>
	<div id = "banner">
		<%= link_to "Sign Up to create your own matches!", signup_path %>
	</div>
<%end%>
<div id = "background">
	<p id = "matchTitle"> Best <%= @approvedMatches[index].matchTitle %> </p>
	<div id = "leftField">
		<p id = "leftName"><%= @approvedMatches[index].Ltitle %></p>
		<div class = "image"><img src ="<%= @approvedMatches[index].Lpic %>"></div>
		<div id = "Lstats"> 
			<p> <%= @approvedMatches[index].Lvotes * 100 / 
				(@approvedMatches[index].Lvotes + @approvedMatches[index].Rvotes) %>
			%<br>
			Total Votes: <%= @approvedMatches[index].Lvotes %>
			</p>
		</div>
	</div>
	<div id = "rightField">
		<p id = "rightName"><%=  @approvedMatches[index].Rtitle %></p>
		<div class = "image"><img src = "<%= @approvedMatches[index].Rpic %>"></div>
		<div id = "Rstats"> 
			<p><%= @approvedMatches[index].Rvotes * 100 /
				( @approvedMatches[index].Lvotes +  @approvedMatches[index].Rvotes) %> %<br>
				Total Votes: <%=  @approvedMatches[index].Rvotes %> </p>
		</div>
	</div>
</div>

