<% provide(:title, 'Create') %>
<h1>Create a Match Up!</h1>
<div class = "row">
	<div class = "span6 offset3">
		
		<%= form_for (@match) do |f| %>

			<%if @match.errors.any? %>
				<div id ="error_explanation">
				<div class="alert alert-error">
			the form contains <%=pluralize(@match.errors.count, "error") %>.
			</div>
			<ul>
			<% error_msg = Hash.new("") %>
			<% error_msg[:Lpic] = "Image #1 " %>
			<% error_msg[:Rpic] = "Image #2 " %>
			<% error_msg[:Ltitle] = "Contender #1 " %>
			<% error_msg[:Rtitle] = "Contender #2 " %>
			<% error_msg[:matchTitle] = "Best... " %>
			<% @match.errors.each do |att, msg| %>
				<li>* <%=error_msg[att] +  msg %> </li>
			<% end %>
			</ul>
			</div>
			<% end %>
  			<p>Images must be .jpg</p>
				
  			<div class = "field">
			<%= f.label :matchTitle, 'Best ...' %>
			<%= f.text_field :matchTitle %>
			</div>	
			<div class = "field">
			<%= f.label :Ltitle, 'Contender #1' %>
			<%= f.text_field :Ltitle %>
			</div>
			<div class = "field">
			<%= f.label :Rtitle, 'Contender #2' %>
			<%= f.text_field :Rtitle %>
			</div>
			<div class = "field">
			<%= f.label :Lpic,'Image #1' %>
			<%= f.text_field :Lpic %>
			</div>
			<div class = "field">
			<%= f.label :Rpic, 'Image #2' %>
			<%= f.text_field :Rpic %>
			</div>
			
			<div class = "actions">
			<%= f.submit "Create!", 
				class: "btn btn-large btn-primary" %>
			</div>
		<% end %>
	</div>
</div>
